<div class="profile-content">
<%= render 'layouts/nav2' %>
  <div class="profile-img-container">
    <% if @user.profileImg? %>
      <%= image_tag(@user.profileImg, class: "profile-img") %>
    <% else %>
      <%= image_tag(@user.profileImgURL, class: "profile-img") %>
    <% end %>
  </div>
  <div class="profile-right-content">
    <div id="user-stats">
      <h4 class="username"><%= @user.username %></h4>
      <h6 class="user-info"><%= @user.firstName %> <%= @user.lastName %></h6>
      <h6 class="user-info"><span class="bike-detail-label">Email: </span><%= @user.email %></h6>
      <h6 class="user-info"><span class="bike-detail-label">City: </span><%= @user.city %></h6>
      <button id="profile-edit" class="edit-profile-button">Edit</button>
    </div>
    <div id="user-edit-form">
      <%= render "edit" %>
      <div id="profile-edit" class="hide-form-button profile-edit-hide">Hide Form</div>
    </div>
  </div>
</div>


<div class="index-footer">
  <% if current_user %>
    <%= render "bikes/user_bikes" %>
  <% else %>
    <%= render "bikes/info" %>
  <% end %>
</div>
