<%= form_for @bike do |f| %>
   <% if @bike.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @bike.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="three columns">
      <div class="field">
        <%= f.label :make %><br />
        <%= f.text_field :make, placeholder: "make" %>
      </div>
    </div>
    <div class="three columns">
      <div class="field">
        <%= f.label :line, "Model" %><br />
        <%= f.text_field :line %>
      </div>
    </div>
    <div class="three columns">
      <div class="field">
        <%= f.label :serialNum, "Serial Number" %><br />
        <%= f.text_field :serialNum, class: "serial-num-input" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <%= f.label :bikeImg, "Image" %>
      <%= f.file_field :bikeImg %>
    </div>
    <div class="three columns">
      <%= f.label :bikeImgURL, "Image URL" %>
      <%= f.text_field :bikeImgURL, title: "copy and paste an image from the web (this is a default)" %>
    </div>
    <div class="three columns">
      <%= f.label :color, "Color" %>
      <%= f.text_field :color %>
    </div>
  <div class="row">
    <div class="three columns">
      <%= f.label :city, "City" %>
      <%= f.text_field :city %>
    </div>
    <div class="three columns">
      <%= f.label :category, "Category" %>
      <%= f.text_field :category %>
    </div>
    <div class="three columns">
      <%= f.label :proofOfPurchase, "Proof Of Purchase" %>
      <%= f.file_field :proofOfPurchase %>
    </div>
  </div>
  <div class="row">
    <div class="one column">
      <%= f.label :stolen %>
      <%= f.check_box :stolen, class: "check-up" %>
    </div>
    <div id="form-push-right-for-sale" class="one column">
      <%= f.label :for_sale, "Sell It" %>
      <%= f.check_box :for_sale, class: "check-up", id: "for-sale-form" %>
    </div>
    <div id="form-push-right-bike-img" class="three columns">
      <%= f.label :price, "Price $" %>
      <%= f.number_field :price %>
    </div>
    <div class="three columns">
      <%= f.label :contactEmail, "Contact Email" %>
      <%= f.email_field :contactEmail %>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <%= f.label :description, "Description" %>
      <%= f.text_area :description %>
    </div>
    <div class="three columns">
      <%= f.label :components, "Custom Parts" %>
      <%= f.text_area :components, value: strip_tags(@bike.components) %>
    </div>
    <div class="three columns">
      <%= f.label :componentImgs, "Upload Custom Parts Image" %>
      <%= f.file_field :componentImgs %>
    </div>
  </div>
  <div class="row">
    <div class="actions">
      <%= f.submit "Save", id: "register-bike-button" %>
      <div id="show-edit" class="hide-form-button">Hide Form</div>
    </div>
  </div>
<% end %>
