<div class="for-sale-index-container">
  <% if @forSaleBikes != nil %>
    <div class="row">
      <% @forSaleBikes.each do |bike| %>
        <div class="two columns">
          <div class="index-card">
            <% if bike.bikeImg? %>
              <div class="index-img"><%= link_to image_tag(bike.bikeImg, class: "bike-index-img"), bike_path(bike) %></div>
            <% else %>
              <div class="index-img"><%= link_to image_tag(bike.bikeImgURL, class: "bike-index-img"), bike_path(bike) %></div>
            <% end %>
            <div class="index-content"><span>Make: </span><%= bike.make %></div>
            <div class="index-content"><span>Model: </span><%= bike.line %></div>
            <% if bike.price != nil %>
              <div class="index-content"><span>Price: </span>$<%= bike.price %></div>
              <div class="index-content"><%= bike.contactEmail %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <button id="stolen-index-button" class="button index-button">View Stolen</button> 
  <% end %>
</div>
  