<div class="user-bikes-container">
  <div id="owl-demo" class="owl-carousel owl-theme">
    <div class="info-carousel">
      <%= image_tag("padlock46.png", class: "info-carousel-img") %>
      <div class="info-content">
        <span class="info-title">Prevent Bike Theft: Secure It!</span>
        the best way to protect yourself against bike theft is to park your bike in a secure bike parking facility, like many workplace bike rooms and cages, and the <a href="http://www.translink.ca/en/Rider-Guide/Bikes-on-Transit/Bike-Parking.aspx">lockers and parkades provided at some TransLink stations</a>. Other good choices include monitored parking facilities and locations, and high-visibility racks along retail store-fronts.
      </div>
    </div>
    <div class="info-carousel">
      <%= image_tag("write13.png", class: "info-carousel-img") %>
      <div class="info-content">
        <span class="info-title">Log It!</span>
        Record your serial # - often on the underside of your pedal (crank) shaft - There are a few options for this. You can use this site if you want. Or checkout the 
        <a href="http://vancouver.ca/police/assets/pdf/log-it-or-lose-it.pdf">Vancouver Police Department</a> and <a href="https://bikehub.ca/resources/stop-bike-theft">HUB</a> for more resources.
      </div>
    </div>
    <div class="info-carousel">
      <%= image_tag("dentists.png", class: "info-carousel-img") %>
      <div class="info-content">
        <span class="info-title">Engrave It!</span>
        Add your BC driver's licence # or phone number to  the bottom of your bike frame - ask your local bike shop, Vancouver Community Policing Stations, or look for bike engraving from <a href="https://bikehub.ca/resources/stop-bike-theft">HUB</a> or BCAA at community events
      </div>
    </div>
    <div class="info-carousel">
      <%= image_tag("firewall13.png", class: "info-carousel-img") %>
      <div class="info-content">
        <div class="info-vid-carousel">
          <span class="info-title">Lock it Well!</span>
          Check out this helpful video by HUB to learn how to prevent bike theft with good locking techniques. Try and use 2 locks.
        </div>
        <iframe id="lock-it-vid" src="https://www.youtube.com/embed/Mfxq1QIdUV8" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    <div class="info-carousel">
      <%= image_tag("criminal.png", class: "info-carousel-img") %>
      <div class="info-content">
        <span class="info-title">Report Bike Theft!</span>
        If your bike is stolen, report it to your local police ASAP, your best chance for safe return (and to stimulate action by the local policing community).<br>
        <a href="http://vancouver.ca/police/contact/report-a-crime.html">VPD report a crime</a> | 
        <a href="http://vancitybikewatch.ca/">Vancity Bike Watch</a>
      </div>
    </div>
    <div class="info-carousel">
      <%= image_tag("detective1.png", class: "info-carousel-img") %>
      <div class="info-content">
        <span class="info-title">Look For It!</span>
        Watch online marketplaces, and report or flag suspicious listings.
        Police and RCMP advise you to not attempt a 'sting' operation of your own as the potential risk to you is far greater than the benefit of recovery. Always contact your local police for assistance. VPD will dispatch officers to assist in the retrieval of stolen property via Craigslist postings. If you find your property listed on Craigslist, call VPD immediately at 604-717-3321 so they can assist. 
      </div> 
    </div>
    <div class="info-carousel">
      <%= image_tag("audio103.png", class: "info-carousel-img") %>
      <div class="info-content-broadcast">
      <span class="info-title">Broadcast It!</span>
        Social networks have been proven to increase the chance of recovery - post a photo and details of your bike theft experience on Facebook, Twitter and Instagram.
      </div> 
    </div>
  </div>
</div>



















