<div class="for-sale-index-container">
  <div class="row">
  <% unless @searchBikes == nil || @searchBikes == "" %>
    <% @searchBikes.each do |bike| %>
      <div class="two columns">
        <div class="index-card">
          <% if bike.bikeImg? %>
            <div class="index-img"><%= link_to image_tag(bike.bikeImg, class: "bike-index-img"), bike_path(bike) %></div>
          <% else %>
            <div class="index-img"><%= link_to image_tag(bike.bikeImgURL, class: "bike-index-img"), bike_path(bike) %></div>
          <% end %>
          <div class="index-content"><span class="bike-detail-label">Make: </span><%= bike.make %></div>
          <div class="index-content"><span class="bike-detail-label">Model: </span><%= bike.line %></div>
          <div class="index-content"><span class="bike-detail-label">City: </span><%= bike.city %></div>
          <% if bike.stolen == true %>
            <div class="stolen">STOLEN</div>
            <div class="index-content"><span class="bike-detail-label">Email: </span><%= bike.contactEmail %></div>
          <% elsif bike.for_sale == true %>
            <div class="for-sale">FOR SALE</div>
            <div class="user-bike-index-content"><span>Price: $</span><%= bike.price %></div>
            <div class="index-content"><span class="bike-detail-label">Email: </span><%= bike.contactEmail %></div>
          <% end %>
          <% if bike.serial != nil %>
            <div class="index-content"><span class="bike-detail-label">Serial Num: </span><%= bike.serial %></div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>