<%= render "layouts/site_nav" %>
<%= render "search" %>
<div id="flash-index">
  <% render "layouts/flashes" %>
</div>

<div class="bike-index-top-content">
  <div class="card-container">
    <% if @searchBikes != nil || @searchBikes == "" %>
      <div id="search-results-container">
        <%= render "search_results" %>
      </div>
    <% else %>
      <div id="index-button-container">
        <button id="stolen-index-button" class="button stolen-index-button">Stolen</button> 
        <button id="for-sale-index-button" class="button for-sale-index-button">For Sale</button> 
      </div>
    <% end %>
    <div id="for-sale-bike-index">
      <%= render 'for_sale_index' %>
      <%= paginate @forSaleBikes %>
    </div>
    <div id="stolen-bikes-index">
      <%= render 'stolen_index' %>
      <%= paginate @stolenBikes %>
    </div>
  </div>
</div>
<div class="hideShow-button" id="show-footer">Show Info</div>
<div class="index-footer">
    <%= render "info" %>
</div>
