<nav>
  <button id="navbox" class="button nav-button">NAV</button> 
    <div id="dropdown">
      <% if user_signed_in? %>
        <div id="new-bike-index" class="dropdown-item">Register Bike</div>
      <% end %>
      <div id="stolen-index-button-nav" class="dropdown-item">Stolen Bikes</div>
      <div id="for-sale-index-button-nav" class="dropdown-item">Bikes For Sale</div>
      <% if user_signed_in? %>
        <div class="dropdown-item"><%= link_to('Profile/My Bikes', user_path(current_user)) %></div>
      <% else %>
        <div class="dropdown-item" id="login-nav">Login</div>
        <div class="dropdown-item"><%= link_to('Sign-Up', root_path) %></div>  
      <% end %>
      <% if user_signed_in? %>
        <div class="dropdown-item"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></div>       
      <% end %>
    </div>
</nav>

<div id="login-form-nav-index" class="hidden-form">
  <%= render "devise/sessions/new_session" %>
</div>
<!-- hidden bike registration form -->
<% if user_signed_in? %>
  <div id="new-bike-form-index" class="hidden-form">
    <% @bike = Bike.new %>
    <%= form_for @bike do |f| %>
       <% if @bike.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @bike.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
       <div class="row">
        <div class="three columns">
          <%= f.label :make %>
          <%= f.text_field :make, required: true %>
        </div>
        <div class="three columns">
          <%= f.label :line %>
          <%= f.text_field :line, required: true %>
        </div>
        <div class="three columns">
          <%= f.label :serial, "Serial Number" %>
          <%= f.text_field :serial, class: "serial-num-input" %>
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <%= f.label :bikeImg, "Image" %>
          <%= f.file_field :bikeImg %>
        </div>
        <div class="three columns">
          <%= f.label :bikeImgURL, "Image URL" %>
          <%= f.text_field :bikeImgURL, title: "copy and paste an image from the web (this is a default)" %>
        </div>
        <div class="three columns">
          <%= f.label :color, "Color" %>
          <%= f.text_field :color %>    
        </div>
      </div>
      <div class="row">
        <div class="three columns">
          <%= f.label :category, "Category" %>
          <%= f.text_field :category %>
        </div>
        <div class="three columns">
          <%= f.label :city, "City" %>
          <%= f.text_field :city, required: true %>
        </div>
        <div class="three columns">
          <%= f.label :description, "Description" %>
          <%= f.text_area :description %>
        </div>
      </div>
      <div class="row">
        <div class="one column">
          <%= f.label :stolen %>
          <%= f.check_box :stolen, class: "check-up" %>
        </div>
        <div id="form-push-right-for-sale" class="one column">
          <%= f.label :for_sale, "Sell It" %>
          <%= f.check_box :for_sale, class: "check-up", id: "for-sale-form" %>
        </div>
        <div id="form-push-right-bike-img" class="three columns">
          <%= f.label :price, "Price $" %>
          <%= f.number_field :price %>
        </div>
        <div class="three columns">
          <%= f.label :contactEmail, "Contact Email" %>
          <%= f.email_field :contactEmail %>
        </div>
      </div>
      <div class="row push-down">
         <div class="three columns">          
          <%= f.label :proofOfPurchase, "Proof Of Purchase" %>
          <%= f.file_field :proofOfPurchase %>
        </div>
        <div class="three columns">
          <%= f.label :components, "Custom Parts" %>
          <%= f.text_area :components %>
        </div>
        <div class="three columns">
          <%= f.label :componentImgs, "Upload Custom Parts Image" %>
          <%= f.file_field :componentImgs %>
        </div>
      </div>
      <div class="row push-down">
        <div id="register-bike-index three columns" class="actions">
          <%= f.submit "Register Bike", id: "register-bike-button" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>